@model CustomerManagement.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div>
        Customer Code : @Model.CustomerCode <br />
        CustomerName : @Model.CustomerName
    </div>
</body>
</html>
